

.todo_con{

width : 80%;
margin: auto;
}
.all{
  margin-left:  auto; margin-right: auto;
  /*padding-left: 40%;
  padding-top: 10%;*/

}
li{
  margin: auto;
  width:100%;
  font-size: 6vw;
}
li span{
  margin: auto;

}
input{
  padding :15px 32px;
}

input[type=checkbox] {

  width:6vw;
height: 6vh;
padding-right: 5px;
background: #FFF;
position: relative;

}
button {
  /*margin-right: 60%;*/
  float:right;
/*padding-left: 2%;*/
  width: 3vw;
height: 4vh;
border-style: none;
margin-top: 3.5%;
background: url('images/trashRed.png') ;
 background-size: 100%;
position: relative;
/*font-size: 80%;*/
}
button:before {

}
ul {
  width: 100%;
  list-style-type: none;
}
