
/* Background */

.background {
  background-color: lightblue;
  background-image: url('images/bihsifa.jpg');
  background-size: cover;
}

/* General */

.todosContainer {
  width : 80%;
  margin: auto;
  height: 175px;
  overflow-y: auto;
  overflow-x: hidden;
}

.page{
  margin-left:  auto;
  margin-right: auto;
}

/* Header */

.header {
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 20vh;
}

.header__title {
  font-family: 'Philosopher', sans-serif;
  font-size: 45px;
}

.header__tagline {
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
  padding-top: 3vh;
}

/* Form */

.form {
  display: block;
  text-align: center;
}

.form__description--input {
  font-size: 25px;
  width: 40%;
}

/* List Display */

.todoList__element {
  width:100%;
  font-size: 28px;
  /*text-align: center;*/
  margin: 5% 10% 5% 10%;
  display: block;
  font-family: 'Indie Flower', cursive;
}

.todoList {
  width: 100%;
  list-style-type: none;
  margin-left: -3.5%;
  padding-bottom: 3%;
}

.todoList__element__text {
  padding: 0 5% 0 5%
}

/* Inputs and Buttons */
input {
  padding :15px 32px;
}

input[type=checkbox] {
/*.todoList__input--checkbox[type=checkbox] {*/
  /*width: 15vw;
  height: 15vh;*/
  transform: scale(3);
  padding-right: 5%;
  background: #FFF;
  position: relative;
}

button {
/*.todoList__button--delete {*/
  width: 5%;
  height: 6%;
  margin-bottom: 1%;
  border-style: none;
  top: 0.4rem;
  position: relative;
  background-color: transparent;
  float: right;
  margin-right: 20%;
  /*margin-bottom: ;*/
}

::placeholder {
  font-family: 'Indie Flower', cursive;
}

.form__buttons {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.form__buttons--submit {
  background-color: #23a5bc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


/*mobile version*/

@media only screen and (max-width: 500px) {
  input[type=checkbox] {
    transform: scale(1);
  }
  button {
    width: 30px;
    height: 20px;
    top: 0.5rem;
  }
}
