/* Background */

body {
  background-color: lightblue;
  background-image: url('images/notebook-paper-corrected.jpg');
  background-size: cover;
}

/* General */
.todo_con {
  width : 80%;
  margin: auto;
}

.all{
  margin-left:  auto;
  margin-right: auto;
  /*padding-left: 40%;
  padding-top: 10%;*/

}

/* Header */
header {
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 20vh;
}

.title {
  font-family: 'Philosopher', sans-serif;
  font-size: 45px;
}

.tagline {
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
}

/* Form */

.form {
  display: block;
  text-align: center;
  /*position: fixed;
  bottom: 0;
  margin-right:inherit;
  margin-left:inherit;
  float: center;*/

}

.form__input {
  font-size: 25px;
}

/* List Display */

li {
/*  margin: auto;*/
  width:100%;
  font-size: 28px;
  /*text-align: center;*/
  margin: 2% 10% 2% 10%;
  display: block;
  font-family: 'Indie Flower', cursive;
}

ul {
  width: 100%;
  list-style-type: none;
  margin-left: 10%;
  padding-bottom: 3%;
}

span {
  padding: 0 5% 0 5%
}

/* Inputs and Buttons */
input {
  padding :15px 32px;
}

input[type=checkbox] {
/*width: 15vw;
height: 15vh;*/
transform: scale(3);
padding-right: 5px;
background: #FFF;
position: relative;

}

button {
/*margin-right: 60%;*/
/*float:right;
/*padding-left: 2%;*/
width: 5%;
height: 6%;
margin-bottom: 1%;
border-style: none;
/*top: 0.7rem;*/
position: relative;
float: right;
margin-right: 20%;
background-color: transparent;
/*margin-bottom: ;*/
}

.buttons__form {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.buttons__form--submit {
  background-color: #23a5bc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
